




:root {
    --header-background-color: #a52a2a;

    --background-color: #99D5C9;

    --white: white;
    --black: black;
}


*, *:before, *:after {
    box-sizing: border-box;
}

body { 
    padding: 0;
    margin: 0;

    font-family: helvetica;

    background-color: var(--background-color);
}





.h1_choose_character_container {
    z-index: 99;

    position: absolute;

    width: 100vw;
    height: 5vh;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    background-color: var(--header-background-color);
}


.h1_choose_character_container h1 {
    color: var(--white);
}





main {
    position: relative;

    width: 100vw;
    height: 100vh;

    background-color: #7161EF;
    
    background-image: url('../afbeeldingen/achtergrond.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}





.choose_character {
    position: relative;

    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.choose_character img{
    position: absolute;

    width: 15rem;
    height: auto;
}

.luffy_character {
    opacity: 0;
}

.visible { 
    opacity: 100;
}



 

.choose_fruit {
    position: absolute;

    top: calc(50% - 25rem/2);
    right: 0;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    width: 15rem;
    height: 25rem;

    color: white;
    background-color: #7161EF;
}

.choose_fruit h2 {
    font-size: 1rem;
}

.choose_fruit button {
    background-color: #7161EF;
    border: none;
}

.choose_fruit button:hover{
    background-color: #321ae9;
    border: none;
}

.choose_fruit button img {
    width: 3em;
    height: auto;
}

.hidden { 
    display: none;
}

.hidden_blank{
    display: none;
}




/* Wtf? */

button {
    padding: 2rem 6rem;

    color: white;
    background-color: #684A52;

    border: none;
}






/* Button Footer */

footer {
    position: relative;

    width: 100%;
    height: auto;
}

footer div {
    display: none;

    z-index: 98;

    position: absolute;

    bottom: 0;

    width: 100%;
}

.zichtbaar {
    display: flex;

    flex-direction: row;

    justify-content: center;

    gap: 1vw;
}


footer div:nth-of-type(1) {
    background-color: #f6cfa4;
}

footer div:nth-of-type(1) button {
    background-color: #da5335;
}




footer div:nth-of-type(2) {
    background-color: #e8e7ec;
}

footer div:nth-of-type(2) button {
    background-color: #443833;
}




footer div:nth-of-type(3) {
    background-color: #ebf8f8;
}

footer div:nth-of-type(3) button {
    background-color: #24125e;
}























 


.bar_visible { 
    opacity: 100;
}


/* Dit even netter maken. */

/* .hidden_vid_1_1{
    opacity: 0;
} */

.vid_1_1_visible{
    opacity: 100;
}
.video_container{
    z-index: 99;

    display: none;

    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    /* left: calc(50% - 80vw/2); */
    margin: 0 auto;
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    
    pointer-events: none;
}


video {
    z-index: 99;
    display: none;
    width: 100%;
    height: auto;
}

.tonen {
    display: block;
}



/* Animation menubalken */
#character_selector {
	-webkit-animation: fade-in-right 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in-right 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-6-24 23:23:32
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-in-right
 * ----------------------------------------
 */
 @-webkit-keyframes fade-in-right {
    0% {
      -webkit-transform: translateX(50px);
              transform: translateX(50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes fade-in-right {
    0% {
      -webkit-transform: translateX(50px);
              transform: translateX(50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  
  .fade_top {
	-webkit-animation: fade-in-top 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in-top 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-6-24 23:33:54
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-in-top
 * ----------------------------------------
 */
 @-webkit-keyframes fade-in-top {
    0% {
      -webkit-transform: translateY(50px);
              transform: translateY(50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes fade-in-top {
    0% {
      -webkit-transform: translateY(50px);
              transform: translateY(50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  
/* Character animation */

.schaal_animation {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-6-25 21:16:42
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-up-center
 * ----------------------------------------
 */
 @-webkit-keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  